In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [5]:
df = pd.read_csv("northern_states_yield.csv")

In [6]:
df.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arhar/Tur,1997,Kharif,Punjab,11000.0,8200,690.1,1046870.0,3410.0,0.766154
1,Bajra,1997,Kharif,Punjab,8000.0,8000,690.1,761360.0,2480.0,1.000000
2,Barley,1997,Rabi,Punjab,37000.0,111000,690.1,3521290.0,11470.0,2.995455
3,Cotton(lint),1997,Whole Year,Punjab,724000.0,937000,690.1,68903080.0,224440.0,1.324000
4,Gram,1997,Rabi,Punjab,13300.0,11000,690.1,1265761.0,4123.0,0.844615

### Checking for Null Values

In [10]:
print(df.isnull().sum())

df.bfill(inplace=True)

Crop               0
Crop_Year          0
Season             0
State              0
Area               0
Production         0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64

#

In [11]:
df = pd.get_dummies(df, drop_first=True)

In [ ]:
df.describe()